body {
    line-height: 1;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 3rem;
    font-family: var(--font-bold);
    color: var(--text-primary);
    line-height: 1.1;
}

h2,
h3,
h4,
h5 {
    font-size: 1.8rem;
    margin: 2.5rem 0;
}

span,
small,
a,
p {
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--text-primary);
}

.div-padding{
    position: relative;
    padding: 2rem;
}